h1 {
	font-family: sans-serif;
	text-align: center;
}

h3 {
	font-family: sans-serif;
	text-align: center;
}

p {
	font-family: sans-serif;
}

code {
	color: #d6336c;
	background-color: #f5f5f5;
}

pre {
    background-color: #f5f5f5;
    padding: 10px;
    overflow-x: auto;
}

.du {
    text-decoration: underline dotted;
}

.tag {
	background-color: #f5f5f5;
	font-family: monospace;
	color: #0b7285;
}
